.git
.env
.env.*
!.env.example
**/.env
**/.env.*
!**/.env.example
node_modules
**/node_modules
data
**/data
dist
**/dist
out
**/out
release
**/release
*.log
**/*.log
.DS_Store
**/.DS_Store
sessions
**/sessions
session
**/session
*.dump
**/*.dump
*.tar
**/*.tar
*.tar.gz
**/*.tar.gz
*.dmg
**/*.dmg
*.exe
**/*.exe
